<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Template DIrectives</title>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
     <script>
        (function(){
            var name = "myApp", requires = [], myApp = null;
            myApp = angular.module(name, requires);
            myApp.controller("AppCtrl", function($scope){
                $scope.data={};
            });
        }());
    </script>
</head>
<body ng-controller="AppCtrl">
    <div ng-repeat="channel in ['None','Star TV','Star World']">
        <input 
            type="radio" 
            name="leisure" 
            value="{{ channel }}"
            ng-model="data.whichChannel" 
            ng-checked="$first" />{{channel}}{{$first}}
    </div>
    <div ng-switch on="data.whichChannel">
        <div ng-switch-when="Star TV">You are watching Star TV</div>
        <div ng-switch-when="Star World">You are watching Star World</div>
        <div ng-switch-default>You are watching nothing</div>
    </div>
</body>
</html>